<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="title" content=""/>
    <meta name="robots" content="all"/>
    <meta name="expires" content="never"/>
    <meta name="distribution" content="world"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ include('css_includes.twig') }}
    {% endblock %}

    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="display: flex; min-height: 100vh; flex-direction: column;">

{% if app.session.flashbag.get('modal') is not empty %}
    {% set flashMessage = app.session.flashbag.get('modal')[0] %}
    <div id="modal1" class="modal modal-fixed-footer active">
        <div class="modal-content">
            <p>{{ flashMessage }}</p>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>

    <script defer>$('#modal1').openModal();</script>

{% endif %}

{# Header #}
<header class="navbar-fixed iamthetop">
    <div class="full-width">
        <nav class="navy-grey darken-2">
            <div class="nav-wrapper col s12 left-margin2 row">
                <a href="{{ path('homepage') }}" class="float logo half-right-margin">King Pong</a>
                <ul class="float col">
                    <li class="col">
                        <a href="{{ path('popular') }}" class="valign-wrapper">
                            <i class="orange-grey-text material-icons half-right-margin valign">grade</i> <p class="valign orange-grey-text">Popular</p>
                        </a>
                    </li>
                </ul>

                {#<a href="{{ path('popular') }}" class=" col s1 offset-s10">
                    <i class="grey-text text-lighten-2">grade</i>
                </a>#}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <!-- Dropdown Trigger -->
                            <div class="col orange-grey-text dropdown-button valign-wrapper row" style="border-radius: 5px; " data-activates="dropdown1" data-beloworigin="true" data-hover="true">
                                <div class="col s3">
                                    <img src="{{ asset(app.user.ProfilePicture) }}" alt="" class="circle valign" style="width: 30px; height: 30px;">
                                </div>
                                <span class="valign col s5 left-align -_1px-left-margin">{{ app.user.username | capitalize }}</span>
                                <i class="material-icons col s3">arrow_drop_down</i>
                            </div>

                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content navy-grey darken-2 border-orange-grey -border-top'>
                                <li><a href="{{ path('product_add') }}" class="blue-grey-text lighten-3">
                                        <i class="material-icons left">add</i>New Product</a>
                                </li>
                                <li><a href="{{ path('profile_recharge') }}" class="blue-grey-text lighten-3">
                                        <i class="material-icons left">credit_card</i>Recharge</a>
                                </li>
                                <li><a href="{{ path('profile_products') }}" class="blue-grey-text lighten-3">
                                        <i class="material-icons left">view_carousel</i>My products</a>
                                </li>
                                <li class="divider"></li>
                                <li><span class="navy-grey darken-5">Your credit: {{ app.user.balance }}€</span></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('logout') }}" class="orange-grey-text"><i class="material-icons right">power_settings_new</i>Logout</a></li>
                            </ul>
                            <!-- End Dropdown Structure -->
                        </li>

                    {% endif %}
                    {% for section in sections %}
                        <li><a class="disabled" href="{{ path(section.route) }}">{{ section.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="right">

                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {{  render(controller('AppBundle:Authentication:showBar', { 'target': path(app.request.get('_route'),
                            {'category': app.request.get('category'), 'uuid': app.request.get('uuid')})})) }}
                    {% endif %}

                </div>
            </div>
        </nav>


        <div class="row teal lighten-1  z-depth-2 valign-wrapper">
            <div class="col s12">
                <div id="breadcrump-wrapper center">
                    {#{%   for breadcrumb in breadcrumps if breadcrump is not null or breadcrump == '' %}

                        <a href="#!" class="breadcrumb">{{ breadcrump }}</a>

                    {% endfor %}#}
                </div>
            </div>
        </div>

    </div>
</header>

    <main style="flex: 1 0 auto;" class="valign-wrapper ">

    {# Content #}

        <div style="background: url({{ asset('images/1915.png') }}) no-repeat center center fixed; position: fixed;" class="be-background-ma-friend"></div>
        {% block body %}{% endblock %}

    </main>
    {# Footer #}
    {% block footer %}

    <footer class="page-footer modal-fixed-footer navy-grey">
        <div class="container">
            <!--<div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>-->
        </div>
        <div class="footer-copyright navy-grey darken-2">
            <div class="container">
                <div class="center">© 2016 Copyright. Created by Guillermo Dobao, Adrià Mallorquí & Ramon Pans.</div>
            </div>
            <!--<a class="valign col s2 offset-s1 right-align waves-effect waves-light btn " href="{$url.global}">Go home</a>-->
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ include('js_includes.twig') }}
{% endblock %}

</body>
</html>
