{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 card-panel navy-grey darken-5 z-depth-5">
                <div class="col s12  center-align card-panel grey lighten-4 padding2">

                    <div class="row top-margin card-panel accent-4 navy-grey-text text-darken-1">
                        <h1 class="left-align  col s12 flow-text">Last product added</h1>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="card">
                                <div class="card-image">
                                    <img class= "size400 center-block"src="{{ asset(newestProduct.picture) }}" alt="{{ newestProduct.name }}">
                                </div>
                                <div class="card-action navy-grey darken-2">
                                    <span class="card-title">
                                        <a href="{{ path('product_show', {'category': newestProduct.category, 'uuid': newestProduct.normalizedName}) }}" class="grey-text text-lighten-2">{{ newestProduct.name|title|truncate(30, false) }}</a>
                                    </span>
                                </div>
                                <div class="card-content">
                                    <p class="">{{ newestProduct.description|truncate(50, false) }}</p>
                                </div>
                                <div class="card-action">
                                    <p class="row flow-text font-m no_margin_vertical"> Expires <b>{{ newestProduct.expiringDate|time_diff}}</b></p>
                                    <p class="row flow-text font-m no_margin_vertical"> Price: <b>{{ newestProduct.price}}</b>€</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top-margin card-panel accent-4 navy-grey-text text-darken-1">
                        <h1 class="left-align  col s12 flow-text">Other recent products</h1>
                    </div>

                    {% for product_row in newestProducts %}
                        <div class="row">
                            {% for product in product_row %}
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-image bot-buffer top-buffer">
                                            <img class= "size100 center-block" src="{{ asset(product.picture) }}" alt="{{ product.name }}">
                                        </div>
                                        <div class="card-action navy-grey darken-2 ctitle">
                                            <span class="card-title font-m">
                                                <a href="{{ path('product_show', {'category': product.category, 'uuid': product.normalizedName}) }}" class="grey-text text-lighten-2">{{ product.name|title|truncate(30, false) }}</a>
                                            </span>
                                        </div>
                                        <div class="card-content ccontent">
                                            {{ product.description|truncate(50, false) }}
                                        </div>
                                        <div class="card-action">
                                            <p class="row flow-text font-m no_margin_vertical"> Expires <b>{{ product.expiringDate|time_diff }}</b></p>
                                            <p class="row flow-text font-m no_margin_vertical"> Price: <b>{{ product.price }}</b>€</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="row top-margin card-panel accent-4 navy-grey-text text-darken-1">
                        <h1 class="left-align  col s12 flow-text">Most popular products</h1>
                    </div>

                    {% for product_row in popularProducts %}
                        <div class="row">
                            {% for product in product_row %}
                                <div class="col s4">
                                    <div class="card">
                                        <div class="card-image bot-buffer top-buffer">
                                            <img class= "size100 center-block" src="{{ asset(product.picture) }}" alt="{{ product.name }}">
                                        </div>
                                        <div class="card-action navy-grey darken-2 ctitle">
                                            <span class="card-title font-m">
                                                <a href="{{ path('product_show', {'category': product.category, 'uuid': product.normalizedName}) }}" class="grey-text text-lighten-2">{{ product.name|title|truncate(30, false) }}</a>
                                            </span>
                                        </div>
                                        <div class="card-content ccontent">
                                            {{ product.description|truncate(50, false) }}
                                        </div>
                                        <div class="card-action">
                                            <p class="row flow-text font-m no_margin_vertical"> Expires <b>{{ product.expiringDate|time_diff}}</b></p>
                                            <p class="row flow-text font-m no_margin_vertical"> Price: <b>{{ product.price}}</b>€</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="row top-margin card-panel accent-4 navy-grey-text text-darken-1">
                        <h1 class="left-align  col s12 flow-text">Who's talking about #LSStore</h1>
                    </div>

                    <div class="row">
                        <a class="twitter-timeline" href="https://twitter.com/hashtag/LSStore" data-widget-id="728275822767902722" data-tweet-limit="5">#LSStore Tweets</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>

                </div>
            </div>

        </div>
    </div>

{%  endblock %}
