{# app/Resources/views/security/login.html.twig #}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}


<div class="container row right right-margin">

    {{  form_start(form) }}
    {{  form_errors(form) }}
    <div class="col s2 offset-s5">
        {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
    </div>
    <div class="col s2 offset-s1">
        {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
    </div>
    <div class="col s1 offset-s1">
        {{ form_widget(form.submit, { 'label': 'Login' }) }}
    </div>
    {{ form_row(form._target_path) }}
    {{ form_end(form) }}

</div>





