{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}


{% block body %}

    <div class="container col s12 top-margin3">

        {{  form_start(form) }}
        {{  form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <div class="col s12 top-margin2">
            {{ form_row(form.submit, { 'label': 'Login' }) }}
        </div>

        {{ form_end(form) }}

    </div>


{% endblock %}


