{# app/Resources/views/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}



{% block body %}

    <div class="container top-margin3">

        <div class="row">
            <div class="col s12 card-panel navy-grey darken-4 offset-m4 m4 5 z-depth-5">
                <div class="col s12  center-align card-panel navy-grey darken-3 padding2">

                    {% if error %}
                        <div class="row center-align card-panel white red-text border-red bot-margin">Error: {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {{  form_start(form) }}
                    {{  form_errors(form) }}
                    <div class="white-text">
                        {% if error %}
                            {{ form_row(form.username, { 'id': 'uname', 'value': lastUsername }) }}
                        {% else %}
                            {{ form_row(form.username, { 'id': 'uname' }) }}
                        {% endif %}
                        {{ form_row(form.password, { 'id': 'pword' }) }}
                    </div>
                    <div class="col s12 top-margin2">
                        {{ form_row(form.submit, { 'label': 'Login' }) }}
                    </div>
                    {{ form_row(form._target_path, {'attr': {'value' : app.request.headers.get('referer') }}) }}
                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>


{% endblock %}


