{# app/Resources/views/security/login.html.twig #}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}


<div class="container row right bot-margin3 left-margin-3">

    {{  form_start(form) }}
    {{  form_errors(form) }}
    <div class="col s2 offset-s2">
        {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
    </div>
    <div class="col s2 left-margin">
        {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
    </div>
    <div class="col s2 left-margin">
        {{ form_widget(form.submit, { 'label': 'Login' }) }}
    </div>
    {{ form_row(form._target_path) }}
    {{ form_end(form) }}

    <div class="col left-buffer right-margin grey-text text-lighten-2">
        or
    </div>

    <div class="">
        <a class="waves-effect waves-light btn orange-grey" href="{{ path('register') }}">REGISTER</a>
    </div>

</div>






