{# app/Resources/views/security/login.html.twig #}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}


<div class="bot-margin3 left-margin-3">

    <div class="col">
        {{  form_start(form) }}
        {{  form_errors(form) }}
        <div class="col">
            {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
        </div>
        <div class="col left-margin">
            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
        </div>
        <div class="col s2 left-margin">
            {{ form_widget(form.submit, { 'label': 'Login' , 'attr': {'class': 'no_icon navy-grey btn waves-effect waves-light'}}) }}
        </div>
        {{ form_row(form._target_path) }}
        {{ form_end(form) }}
    </div>
    <div class="col left-buffer right-margin grey-text text-lighten-2">
        or
    </div>

    <div class="col">
        <a class="waves-effect waves-light btn orange-grey" href="{{ path('register') }}">REGISTER</a>
    </div>

</div>






