{%  extends 'base.html.twig' %}

{% trans %}Hello %name%{% endtrans %}

{% transchoice count %}

{0} There are no apples|{1} There is one apple|]1,Inf] There are %count% apples

{% endtranschoice %}


{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 card-panel navy-grey darken-5 z-depth-5">
                <div class="col s12  center-align card-panel grey lighten-4 padding2">

                    <div class="row">
                        <h2 class="left-align  col s12 flow-text">{{ product.name }}</h2>
                        <hr class="col s12">
                    </div>

                    <div class="row">

                        <div class="col s12 l6">
                            <img class="col s12 responsive-img" src="{{ asset(product.picture) }}" alt="{{ product.name }}">
                            <hr class="col s12">
                        </div>

                        <div class="col s12 l6">
                            <p class="row flow-text"> Seller: {{ product.owner.username }}</p>
                            <p class="row flow-text"> Time left: {{ product.expiring_date|time_diff}}</p>
                            <div class="row">
                                <div class="col s11 offset-s1">
                                    <p class="row flow-text"> Stock <em>{{ product.stock }}
                                            {% transchoice product.stock %}
                                            {0} There is no stock available |{1} %product.stock% unit |]1,Inf[ %product.stock% units
                                            {% endtranschoice %}
                                        </em></p>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>


{% endblock %}