{% extends 'base.html.twig' %}

{% form_theme form 'form/FormMaterializeCssTheme.html.twig' %}




{% block body %}


    <div class="container ">

        <div class="row top-margin card-panel orange-grey accent-4 white-text">
            <h3>Need more money? Don't worry! Just recharge!!!</h3>
        </div>

        <div class="row card-panel">
            <div class="top-margin3">
                {{  form_start(form) }}
                {{  form_errors(form) }}

                    <div class="col s6">
                        <div class="row">
                            {{ form_row(form.recharge) }}
                            {{ form_row(form.payment_method) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    <img src="{{ asset(app.user.getProfilePicture()) }}" alt="Profile Picture" class="materialboxed circle right-margin3 col s4 offset-s1" width="300">


                {{ form_end(form) }}
            </div>

        </div>

    </div>



{% endblock body %}

{% block _form_payment_method_0_label %}
    <img src={{ asset("/images/icon_mastercard.png") }}/>
    {{ block ('form_label') }}
{% endblock %}
{% block _form_payment_method_1_label %}
    <img src={{ asset("/images/icon_paypal.png") }}/>
    {{ block ('form_label') }}
{% endblock %}
{% block _form_payment_method_2_label %}
    <img src={{ asset("/images/icon_visa.png") }}/>
    {{ block ('form_label') }}
{% endblock %}
{% block _form_payment_method_3_label %}
    <img src={{ asset("/images/icon_bitcoin.png") }}/>
    {{- form_label(form) -}}
{% endblock %}

